In [2]:
import numpy as np 
import pandas as pd

In [3]:
df = pd.read_csv("C:/Users/fares/bootCamp_py/2015 - HW - 2.csv")
df

,Country,Region,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Greece,Western Europe,102.0,48.570,11.54060,9.29330,8.82130,0.76990,0.13970,0,18.01010
1,Laos,Southeastern Asia,99.0,4.876,0.59066,0.73803,0.54909,0.59591,0.24249,0.42192,1.73799
2,Slovenia,Central and Eastern Europe,55.0,5.848,1.18498,1.27385,0.87337,0.60855,0.03787,0.25328,1.61583
3,Zambia,Sub-Saharan Africa,85.0,5.129,0.47038,0.91612,0.29924,0.48827,0.12468,0.19591,2.63430
4,Philippines,Southeastern Asia,90.0,5.073,0.70532,1.03516,0.58114,0.62545,0.12279,0.24991,1.75360
...,...,...,...,...,...,...,...,...,...,...,...
156,Netherlands,Western Europe,7.0,73.780,13.29440,12.80170,8.92840,6.15760,3.18140,4.761,24.65700
157,Sierra Leone,Sub-Saharan Africa,123.0,4.507,0.33024,0.95571,0.00000,0.40840,0.08786,0.21488,2.51009
158,Mexico,Latin America and Caribbean,14.0,7.187,1.02054,0.91451,0.81444,0.48181,0.21312,0.14074,3.60214
159,South Korea,Eastern Asia,47.0,5.984,1.24461,0.95774,0.96538,0.33208,0.07857,0.18557,2.21978
160,Mali,Sub-Saharan Africa,138.0,3.995,0.26074,1.03526,0.20583,0.38857,0.12352,0.18798,1.79293

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161 entries, 0 to 160
Data columns (total 11 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        161 non-null    object
 1   Region                         161 non-null    object
 2   Happiness Rank                 155 non-null    float64
 3   Happiness Score                155 non-null    float64
 4   Economy (GDP per Capita)       153 non-null    float64
 5   Family                         161 non-null    float64
 6   Health (Life Expectancy)       145 non-null    float64
 7   Freedom                        161 non-null    float64
 8   Trust (Government Corruption)  161 non-null    float64
 9   Generosity                     161 non-null    object
 10  Dystopia Residual              161 non-null    float64
dtypes: float64(8), object(3)
memory usage: 14.0+ KB

In [6]:
df.describe()

,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Dystopia Residual
count,155.000000,155.000000,153.000000,161.000000,145.000000,161.000000,161.000000,161.000000
mean,86.632258,13.095277,2.467065,2.449388,1.640732,1.070044,0.413578,4.628960
std,81.544348,20.974743,4.238400,3.931312,2.830109,1.802735,0.916497,6.715999
min,1.000000,2.839000,0.000000,0.000000,0.000000,0.000000,0.000000,0.328580
25%,41.500000,4.517500,0.593250,0.851880,0.433720,0.328780,0.063580,1.844080
50%,82.000000,5.194000,0.918610,1.032760,0.696390,0.436260,0.110690,2.208570
75%,121.500000,6.433000,1.184980,1.232870,0.797330,0.560660,0.193170,2.765790
max,920.000000,75.870000,15.639100,14.022300,9.556200,6.697300,4.835700,27.020100

In [7]:
df.isnull().sum()

Country                           0
Region                            0
Happiness Rank                    6
Happiness Score                   6
Economy (GDP per Capita)          8
Family                            0
Health (Life Expectancy)         16
Freedom                           0
Trust (Government Corruption)     0
Generosity                        0
Dystopia Residual                 0
dtype: int64

In [13]:
df['Happiness Rank'] = df['Happiness Rank'].astype(int)

In [11]:
## Customer
df[ 'Happiness Rank'] = df['Happiness Rank'].fillna(-1)

df[ 'Happiness Rank'] = df['Happiness Rank'].replace("-1", np.nan)
df[ 'Happiness Rank'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 161 entries, 0 to 160
Series name: Happiness Rank
Non-Null Count  Dtype
--------------  -----
161 non-null    float64
dtypes: float64(1)
memory usage: 1.4 KB

In [12]:
df.isnull().sum()

Country                           0
Region                            0
Happiness Rank                    0
Happiness Score                   6
Economy (GDP per Capita)          8
Family                            0
Health (Life Expectancy)         16
Freedom                           0
Trust (Government Corruption)     0
Generosity                        0
Dystopia Residual                 0
dtype: int64

In [15]:
df.head()

,Country,Region,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Greece,Western Europe,102,48.570,11.54060,9.29330,8.82130,0.76990,0.13970,0,18.01010
1,Laos,Southeastern Asia,99,4.876,0.59066,0.73803,0.54909,0.59591,0.24249,0.42192,1.73799
2,Slovenia,Central and Eastern Europe,55,5.848,1.18498,1.27385,0.87337,0.60855,0.03787,0.25328,1.61583
3,Zambia,Sub-Saharan Africa,85,5.129,0.47038,0.91612,0.29924,0.48827,0.12468,0.19591,2.63430
4,Philippines,Southeastern Asia,90,5.073,0.70532,1.03516,0.58114,0.62545,0.12279,0.24991,1.75360

In [16]:
df['Happiness Score'].fillna(df['Happiness Score'].mean(), inplace=True)
df['Economy (GDP per Capita)'].fillna(df['Economy (GDP per Capita)'].mean(), inplace=True)
df['Health (Life Expectancy)'].fillna(df['Health (Life Expectancy)'].mean(), inplace=True)

C:\Users\fares\AppData\Local\Temp\ipykernel_516\887456481.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Happiness Score'].fillna(df['Happiness Score'].mean(), inplace=True)
C:\Users\fares\AppData\Local\Temp\ipykernel_516\887456481.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Economy (GDP per Capita)'].fillna(df['Economy (GDP per Capita)'].mean(), inplace=True)
C:\Users\fares\AppData\Local\Temp\ipykernel_516\887456481.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Health (Life Expectancy)'].fillna(df['Health (Life Expectancy)'].mean(), inplace=True)

In [19]:
df.isnull().sum()

Country                          0
Region                           0
Happiness Rank                   0
Happiness Score                  0
Economy (GDP per Capita)         0
Family                           0
Health (Life Expectancy)         0
Freedom                          0
Trust (Government Corruption)    0
Generosity                       0
Dystopia Residual                0
dtype: int64

In [18]:
# Fill missing values with a specific placeholder value
df['Happiness Score'].fillna(0, inplace=True)
df['Economy (GDP per Capita)'].fillna(0, inplace=True)
df['Health (Life Expectancy)'].fillna(0, inplace=True)

C:\Users\fares\AppData\Local\Temp\ipykernel_516\2920088384.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Happiness Score'].fillna(0, inplace=True)
C:\Users\fares\AppData\Local\Temp\ipykernel_516\2920088384.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Economy (GDP per Capita)'].fillna(0, inplace=True)
C:\Users\fares\AppData\Local\Temp\ipykernel_516\2920088384.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Health (Life Expectancy)'].fillna(0, inplace=True)

In [20]:
print(df.dtypes)

Country                           object
Region                            object
Happiness Rank                     int64
Happiness Score                  float64
Economy (GDP per Capita)         float64
Family                           float64
Health (Life Expectancy)         float64
Freedom                          float64
Trust (Government Corruption)    float64
Generosity                        object
Dystopia Residual                float64
dtype: object

In [22]:
print(df['Generosity'].unique())

['0' '0.42192' '0.25328' '0.19591' '0.24991' '0.0868' '2.2823' '0.16979'
 '0.05547' '0.10692' '1.2332' '5.1752' '0.17922' '0.27233' '0.19387'
 '0,32573' '0.22628' '0.21222' '0.11251' '3.4699' '0.11053' '0.07799'
 '0.22269' '0.11973' '0.40359' '0.14982' '0.11291' '4.363' '0.12388'
 '1.8227' '0.10686' '0.21333' '0.13706' '0.18401' '0.40828' '0.37542'
 '0.24362' '0.17362' '0.28657' '0.20843' '0.26428' '0.12344' '0.18226'
 '0.26475' '0.19062' '0.24808' '0.3651' '0.17441' '0.20618' '3.4139'
 '0.08185' '0.39478' '0.24834' '0.79588' '0.16893' '0.07172' '0.1826'
 '0.16228' '0.33671' '0.11451' '0.11541' '0.18093' '0.20951' '0.23087'
 '0.33363' '3.6262' '0.40105' '0.37744' '0.19727' '0.1614' '0.128'
 '0.20165' '0.07855' '0.09131' '2.8034' '0.11921' '3.0638' '2.225'
 '0.05444' '0.46187' '0.2324' '4.5901' '0.27815' '0.06431' '0.13748'
 '0.18987' '0.38086' '0.24325' '0.51535' '0.5763' '2.9678' '0.21747'
 '0.02641' '0.15275' '0.22837' '0.33128' '0.31844' '0.2123' '0.29066'
 '0.07822' '0.25497' '2.8214' '0.18386' '0.16388' '0.18295' '0.50318'
 '0.14574' '0.19231' '0.3424' '3.3088' '0.16759' '0.24434' '0.22359'
 '0.3323' '0.21854' '0.23835' '0.33075' '5.1912' '0.11046' '0.14272'
 '0.25376' '0.10705' '0.27489' '0.23027' '1.3719' '0.00199' '0.1686'
 '0.21542' '2.6169' '0.33172' '0.22974' '0.34377' '0.43562' '0.05841'
 '0.3003' '0.32296' '0.16991' '0.47179' '0.10461' '0.06822' '0.11827'
 '0.2831' '0.45811' '0.31105' '0.18259' '0.47501' '0.219' '0.47998'
 '0.16681' '2.3351' '0.20536' '0.12253' '4.761' '0.21488' '0.14074'
 '0.18557' '0.18798']

In [28]:
# convert Generosity column to float
df['Generosity'] = df['Generosity'].astype(float)

In [26]:
df[df['Generosity'] == '0,32573']

Empty DataFrame
Columns: [Country, Region, Happiness Rank, Happiness Score, Economy (GDP per Capita), Family, Health (Life Expectancy), Freedom, Trust (Government Corruption), Generosity, Dystopia Residual]
Index: []

In [27]:
df['Generosity'] = df['Generosity'].str.replace(',','.')
df.loc[15]

Country                                                    Qatar
Region                           Middle East And Northern Africa
Happiness Rank                                                28
Happiness Score                                            6.611
Economy (GDP per Capita)                                 1.69042
Family                                                    1.0786
Health (Life Expectancy)                                 0.79733
Freedom                                                   0.6404
Trust (Government Corruption)                            0.52208
Generosity                                               0.32573
Dystopia Residual                                        1.55674
Name: 15, dtype: object

In [29]:
print(df.dtypes)

Country                           object
Region                            object
Happiness Rank                     int64
Happiness Score                  float64
Economy (GDP per Capita)         float64
Family                           float64
Health (Life Expectancy)         float64
Freedom                          float64
Trust (Government Corruption)    float64
Generosity                       float64
Dystopia Residual                float64
dtype: object

In [30]:

numeric_columns = ['Happiness Score', 'Economy (GDP per Capita)', 'Family', 
                    'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)', 
                    'Generosity', 'Dystopia Residual']
df[numeric_columns] = df[numeric_columns].astype(float)

Country                           object
Region                            object
Happiness Rank                     int64
Happiness Score                  float64
Economy (GDP per Capita)         float64
Family                           float64
Health (Life Expectancy)         float64
Freedom                          float64
Trust (Government Corruption)    float64
Generosity                       float64
Dystopia Residual                float64
dtype: object

In [31]:
# Check for duplicates
print(df[df.duplicated()])

   Country                           Region  Happiness Rank  Happiness Score  \
21  Jordan  Middle East And Northern Africa              82            5.192
43  Angola               Sub-Saharan Africa             137            4.033
66   Ghana               Sub-Saharan Africa             114            4.633

    Economy (GDP per Capita)   Family  Health (Life Expectancy)  Freedom  \
21                   0.90198  1.05392                   0.69639  0.40661
43                   0.75778  0.86040                   0.16683  0.10384
66                   0.54558  0.67954                   0.40132  0.42342

    Trust (Government Corruption)  Generosity  Dystopia Residual
21                        0.14293     0.11053            1.87996
43                        0.07122     0.12344            1.94939
66                        0.04355     0.23087            2.30919

In [32]:
df = df.drop_duplicates()
df

,Country,Region,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Greece,Western Europe,102,48.570,11.54060,9.29330,8.82130,0.76990,0.13970,0.00000,18.01010
1,Laos,Southeastern Asia,99,4.876,0.59066,0.73803,0.54909,0.59591,0.24249,0.42192,1.73799
2,Slovenia,Central And Eastern Europe,55,5.848,1.18498,1.27385,0.87337,0.60855,0.03787,0.25328,1.61583
3,Zambia,Sub-Saharan Africa,85,5.129,0.47038,0.91612,0.29924,0.48827,0.12468,0.19591,2.63430
4,Philippines,Southeastern Asia,90,5.073,0.70532,1.03516,0.58114,0.62545,0.12279,0.24991,1.75360
...,...,...,...,...,...,...,...,...,...,...,...
156,Netherlands,Western Europe,7,73.780,13.29440,12.80170,8.92840,6.15760,3.18140,4.76100,24.65700
157,Sierra Leone,Sub-Saharan Africa,123,4.507,0.33024,0.95571,0.00000,0.40840,0.08786,0.21488,2.51009
158,Mexico,Latin America And Caribbean,14,7.187,1.02054,0.91451,0.81444,0.48181,0.21312,0.14074,3.60214
159,South Korea,Eastern Asia,47,5.984,1.24461,0.95774,0.96538,0.33208,0.07857,0.18557,2.21978
160,Mali,Sub-Saharan Africa,138,3.995,0.26074,1.03526,0.20583,0.38857,0.12352,0.18798,1.79293

In [51]:
# Check for duplicate rows
duplicates = df.duplicated()

# View the count of duplicates
print(duplicates.sum())

# Remove duplicates
df_cleaned = df.drop_duplicates()

0

In [52]:
unique_countries = df['Country'].unique()
print(unique_countries)

['Greece' 'Laos' 'Slovenia' 'Zambia' 'Philippines' 'Estonia' 'Italy'
 'Turkmenistan' 'Georgia' 'El Salvador' 'France' 'Malta' 'Iraq' 'Nigeria'
 'Niger' 'Qatar' 'Rwanda' 'Bangladesh' 'Palestinian Territories' 'Norway'
 'Jordan' 'Azerbaijan' 'Mozambique' 'South Africa' 'Cambodia' 'Peru'
 'Egypt' 'Iceland' 'Congo (Brazzaville)' 'Spain' 'Czech Republic'
 'Madagascar' 'Saudi Arabia' 'Colombia' 'Sri Lanka' 'Kenya' 'Liberia'
 'Bahrain' 'Guinea' 'Senegal' 'United Arab Emirates' 'Angola' 'Latvia'
 'India' 'Sudan' 'Bosnia And Herzegovina' 'Afghanistan' 'Comoros'
 'Cameroon' 'Denmark' 'China' 'Hong Kong' 'Congo (Kinshasa)' 'Myanmar'
 'Slovakia' 'Morocco' 'Benin' 'Kuwait' 'Pakistan' 'Argentina' 'Ecuador'
 'Djibouti' 'Moldova' 'Ghana' 'Chile' 'Sweden' 'United States' 'Mauritius'
 'Burundi' 'Montenegro' 'Hungary' 'Ivory Coast' 'Armenia' 'Yemen'
 'Luxembourg' 'Bulgaria' 'Cyprus' 'Belgium' 'Croatia' 'Haiti' 'Uruguay'
 'Ireland' 'Nicaragua' 'Tunisia' 'Romania' 'Zimbabwe' 'Iran' 'Ethiopia'
 'Indonesia' 'Thailand' 'Switzerland' 'Burkina Faso' 'Lithuania' 'Ukraine'
 'Uzbekistan' 'Malawi' 'Trinidad And Tobago' 'Jamaica' 'Uganda' 'Algeria'
 'Costa Rica' 'Germany' 'Chad' 'Lesotho' 'Libya' 'Somaliland Region'
 'Brazil' 'Serbia' 'Paraguay' 'Austria' 'Poland' 'Panama' 'Macedonia'
 'Mongolia' 'Lebanon' 'Central African Republic' 'Malaysia'
 'United Kingdom' 'Belarus' 'Albania' 'Taiwan' 'Japan' 'Guatemala'
 'Honduras' 'Portugal' 'Russia' 'Vietnam' 'Oman' 'North Cyprus' 'Israel'
 'Tajikistan' 'Tanzania' 'Australia' 'Venezuela' 'Kyrgyzstan' 'Nepal'
 'Suriname' 'Syria' 'Botswana' 'Gabon' 'Kazakhstan' 'Kosovo' 'Canada'
 'Singapore' 'Swaziland' 'New Zealand' 'Mauritania' 'Bhutan' 'Togo'
 'Finland' 'Bolivia' 'Turkey' 'Netherlands' 'Sierra Leone' 'Mexico'
 'South Korea' 'Mali']

In [54]:
#Standardizing the case of country names (convert to title case)
df['Country'] = df['Country'].str.title()

In [56]:
print(df.columns)

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity',
       'Dystopia Residual'],
      dtype='object')

In [57]:
# Remove rows where it called 'Israel' there is no such a country with that name  

df = df[df['Country'] != 'Israel']

In [61]:
df['Happiness Score'].describe()

count    157.000000
mean      13.294291
std       20.800407
min        2.839000
25%        4.550000
50%        5.332000
75%        6.574000
max       75.870000
Name: Happiness Score, dtype: float64

In [62]:
q1=4.55
q3=6.574
IQR= q3-q1

In [63]:
below= q1 - 1.5 * IQR
above= q1 - 1.5 * IQR

In [66]:
normal = df[df['Happiness Score']< above] | (df['Happiness Score'] > below)

In [77]:
df.head(12)

,Country,Region,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
94,Switzerland,Western Europe,1,7.587,13.9651,13.4951,9.414300,6.6557,4.1978,2.9678,25.1738
28,Iceland,Western Europe,2,7.561,13.0232,14.0223,9.478400,6.2877,1.4145,4.3630,27.0201
51,Denmark,Western Europe,3,7.527,13.2548,13.6058,8.746400,6.4938,4.8357,3.4139,24.9204
19,Norway,Western Europe,4,7.522,14.5900,13.3095,1.640732,6.6973,3.6503,3.4699,24.6531
153,Finland,Western Europe,5,7.406,12.9025,13.1826,8.891100,6.4169,4.1372,2.3351,26.1955
156,Netherlands,Western Europe,6,7.378,13.2944,12.8017,8.928400,6.1576,3.1814,4.7610,24.6570
68,Sweden,Western Europe,7,7.364,13.3171,12.8907,1.640732,6.5980,4.3844,3.6262,23.7119
113,Austria,Western Europe,8,7.200,13.3723,12.9704,8.904200,6.2433,1.8676,3.3088,25.3320
77,Luxembourg,Western Europe,9,6.946,15.6391,12.1963,9.189400,6.1583,3.7798,2.8034,19.6961
84,Ireland,Western Europe,10,6.940,13.3596,13.6948,8.953300,6.1777,2.8703,4.5901,19.7570
80,Belgium,Western Europe,11,6.937,13.0782,12.8566,8.966700,5.8450,2.2540,2.2250,24.1484
105,Germany,Western Europe,12,6.750,13.2792,12.9937,8.918600,6.1477,2.1843,2.8214,21.1569

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 157 entries, 0 to 160
Data columns (total 11 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        157 non-null    object
 1   Region                         157 non-null    object
 2   Happiness Rank                 157 non-null    int64
 3   Happiness Score                157 non-null    float64
 4   Economy (GDP per Capita)       157 non-null    float64
 5   Family                         157 non-null    float64
 6   Health (Life Expectancy)       157 non-null    float64
 7   Freedom                        157 non-null    float64
 8   Trust (Government Corruption)  157 non-null    float64
 9   Generosity                     157 non-null    float64
 10  Dystopia Residual              157 non-null    float64
dtypes: float64(8), int64(1), object(2)
memory usage: 18.8+ KB

In [70]:
# Sort by 'Happiness Score' in descending order
df = df.sort_values(by='Happiness Score', ascending=False)

# Assign rank based on sorted happiness score
df['Happiness Rank'] = df['Happiness Score'].rank(ascending=False, method='first').astype(int)

In [72]:
df['Happiness Score'] = df['Happiness Score'] / 10

In [79]:
df['health_zscore'] = (df['Health (Life Expectancy)'] - df['Health (Life Expectancy)'].mean()) / df['Health (Life Expectancy)'].std()

# Identify outliers
df['outlier'] = df['health_zscore'].apply(lambda x: abs(x) >= 3)

# Display outliers
outliers = df[df['outlier'] == True].sort_values(by="health_zscore", ascending=False)

print("Outliers:")
print(outliers)

Outliers:
Empty DataFrame
Columns: [Country, Region, Happiness Rank, Happiness Score, Economy (GDP per Capita), Family, Health (Life Expectancy), Freedom, Trust (Government Corruption), Generosity, Dystopia Residual, health_zscore, outlier]
Index: []

In [82]:

# Calculate Q1 (25th percentile) and Q3 (75th percentile)
Q1 = df['Health (Life Expectancy)'].quantile(0.25)
Q3 = df['Health (Life Expectancy)'].quantile(0.75)

# Calculate IQR
IQR = Q3 - Q1

# Define bounds for outliers
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Identify outliers
df['outlier_iqr'] = df['Health (Life Expectancy)'].apply(lambda x: x < lower_bound or x > upper_bound)

# Display outliers
outliers_iqr = df[df['outlier_iqr'] == True].sort_values(by="Health (Life Expectancy)", ascending=False)

print("Outliers using IQR method:")
print(outliers_iqr)

Outliers using IQR method:
            Country                           Region  Happiness Rank  \
30            Spain                   Western Europe              14
6             Italy                   Western Europe              16
28          Iceland                   Western Europe               2
10           France                   Western Europe              13
94      Switzerland                   Western Europe               1
132    North Cyprus                   Western Europe              17
79           Cyprus                   Western Europe              18
77       Luxembourg                   Western Europe               9
80          Belgium                   Western Europe              11
84          Ireland                   Western Europe              10
156     Netherlands                   Western Europe               6
105         Germany                   Western Europe              12
113         Austria                   Western Europe               8
153         Finland                   Western Europe               5
11            Malta                   Western Europe              15
0            Greece                   Western Europe              20
128        Portugal                   Western Europe              19
51          Denmark                   Western Europe               3
19           Norway                   Western Europe               4
68           Sweden                   Western Europe               7
91         Ethiopia               Sub-Saharan Africa              21
121  United Kingdom                   Western Europe              22
26             Peru      Latin America And Caribbean              23
9       El Salvador      Latin America And Caribbean              24
138      Kyrgyzstan       Central And Eastern Europe              26
67            Chile      Latin America And Caribbean              38
83          Uruguay      Latin America And Caribbean              42
108           Libya  Middle East And Northern Africa              68
13          Nigeria               Sub-Saharan Africa              80
116       Macedonia       Central And Eastern Europe              94
12             Iraq  Middle East And Northern Africa             112
75          Armenia       Central And Eastern Europe             126
49          Comoros               Sub-Saharan Africa             139
58            Benin               Sub-Saharan Africa             154

     Happiness Score  Economy (GDP per Capita)    Family  \
30          6.329000                 12.301100  13.13790
6           5.948000                 12.511400  11.97770
28          7.561000                 13.023200  14.02230
10          6.575000                 12.777800  12.60380
94          7.587000                 13.965100  13.49510
132         5.695000                 12.080600  10.70080
79          5.689000                 12.081300   8.93180
77          6.946000                 15.639100  12.19630
80          6.937000                 13.078200  12.85660
84          6.940000                 13.359600  13.69480
156         7.378000                 13.294400  12.80170
105         6.750000                 13.279200  12.99370
113         7.200000                 13.372300  12.97040
153         7.406000                 12.902500  13.18260
11          6.302000                 12.074000  13.02030
0           4.857000                 11.540600   9.29330
128         5.102000                 11.599100  11.39350
51          7.527000                 13.254800  13.60580
19          7.522000                 14.590000  13.30950
68          7.364000                 13.317100  12.89070
91          1.309528                  2.467065   0.60406
121         1.309528                 12.663700  12.85480
26          1.309528                  2.467065   0.97459
9           1.309528                  0.764540   1.02507
138         1.309528                  2.467065   1.15115
67          0.667000                  1.107150   1.12447
83          0.648500                  1.061660   1.20890
108         0.575400                  1.131450   1.11862
13          0.526800                  0.654350   0.90432
116         0.500700                  0.918510   1.00232
12          0.467700                  0.985490   0.81889
75          0.435000                  0.768210   0.77711
49          0.395600                  0.239060   0.79273
58          0.334000                  0.286650   0.35386

     Health (Life Expectancy)  Freedom  Trust (Government Corruption)  \
30                   9.556200  4.59510                        0.63980
6                    9.544600  2.62360                        0.29010
28                   9.478400  6.28770                        1.41450
10                   9.457900  5.50110                        2.06460
94                   9.414300  6.65570                        4.19780
132                  9.235600  4.90270                        1.42800
79                   9.235600  4.06720                        0.61460
77                   9.189400  6.15830                        3.77980
80                   8.966700  5.84500                        2.25400
84                   8.953300  6.17770                        2.87030
156                  8.928400  6.15760                        3.18140
105                  8.918600  6.14770                        2.18430
113                  8.904200  6.24330                        1.86760
153                  8.891100  6.41690                        4.13720
11                   8.872100  6.03650                        1.35860
0                    8.821300  0.76990                        0.13970
128                  8.751900  5.14690                        0.10780
51                   8.746400  6.49380                        4.83570
19                   1.640732  6.69730                        3.65030
68                   1.640732  6.59800                        4.38440
91                   1.640732  0.43450                        0.15048
121                  1.640732  5.96250                        3.20670
26                   1.640732  0.41496                        0.05989
9                    1.640732  0.40350                        0.11776
138                  1.640732  0.43477                        0.04232
67                   1.640732  0.44132                        0.12869
83                   1.640732  0.60362                        0.24558
108                  1.640732  0.41668                        0.11023
13                   1.640732  0.34334                        0.04030
116                  1.640732  0.33457                        0.05327
12                   1.640732  0.00000                        0.13788
75                   1.640732  0.19847                        0.03900
49                   1.640732  0.22917                        0.19900
58                   1.640732  0.48450                        0.08010

     Generosity  Dystopia Residual  health_zscore  outlier  outlier_iqr
30      1.82270           21.23670       2.907438    False         True
6       2.28230           20.25180       2.903162    False         True
28      4.36300           27.02010       2.878760    False         True
10      1.23320           22.11260       2.871203    False         True
94      2.96780           25.17380       2.855132    False         True
132     2.61690           15.98880       2.789261    False         True
79      3.06380           18.89310       2.789261    False         True
77      2.80340           19.69610       2.772231    False         True
80      2.22500           24.14840       2.690141    False         True
84      4.59010           19.75700       2.685202    False         True
156     4.76100           24.65700       2.676023    False         True
105     2.82140           21.15690       2.672411    False         True
113     3.30880           25.33200       2.667103    False         True
153     2.33510           26.19550       2.662274    False         True
11      5.17520           16.48800       2.655271    False         True
0       0.00000           18.01010       2.636545    False         True
128     1.37190           12.64620       2.610963    False         True
51      3.41390           24.92040       2.608936    False         True
19      3.46990           24.65310      -0.010294    False         True
68      3.62620           23.71190      -0.010294    False         True
91      0.24325            2.44876      -0.010294    False         True
121     5.19120           19.69940      -0.010294    False         True
26      0.14982            2.59450      -0.010294    False         True
9       0.10692            3.03500      -0.010294    False         True
138     0.30030            2.23270      -0.010294    False         True
67      0.33363            2.67585      -0.010294    False         True
83      0.23240            2.32142      -0.010294    False         True
108     0.18295            2.09066      -0.010294    False         True
13      0.27233            2.89319      -0.010294    False         True
116     0.22359            1.73933      -0.010294    False         True
12      0.17922            1.95335      -0.010294    False         True
75      0.07855            1.75873      -0.010294    False         True
49      0.17441            1.95812      -0.010294    False         True
58      0.18260            1.63328      -0.010294    False         True

In [84]:
suspicious_value =1.640732
suspicious_rows = df[df['Health (Life Expectancy)'] == suspicious_value]

print("Suspicious rows:")
print(suspicious_rows)

Suspicious rows:
Empty DataFrame
Columns: [Country, Region, Happiness Rank, Happiness Score, Economy (GDP per Capita), Family, Health (Life Expectancy), Freedom, Trust (Government Corruption), Generosity, Dystopia Residual, health_zscore, outlier, outlier_iqr]
Index: []

In [ ]:
# i dont know why its not showing

In [88]:
# Inspect unique values
unique = df['Health (Life Expectancy)'].unique()
print(unique)

stats = df['Health (Life Expectancy)'].describe()
print(stats)

Unique values in 'Health (Life Expectancy)':
[9.4143     9.4784     8.7464     1.64073179 8.8911     8.9284
 8.9042     9.1894     8.9533     8.9667     8.9186     9.4579
 9.5562     8.8721     9.5446     9.2356     8.7519     8.8213
 0.86027    0.90563    0.90837    0.93156    0.81444    0.86179
 0.69702    0.80925    0.76276    0.72052    1.02525    0.79661
 0.79733    0.78723    0.84483    0.69077    0.7385     0.72025
 0.8753     0.72492    0.6082     0.61483    0.64425    0.59772
 0.78902    0.99111    0.96538    0.79075    0.74716    0.5392
 0.61826    0.66098    0.64368    0.87337    0.73128    0.74314
 0.73608    0.77903    0.72394    0.78805    0.66926    0.68741
 0.61766    0.63132    0.53886    0.7095     1.01328    0.77361
 0.63793    0.74676    0.73172    0.57407    0.64045    0.51466
 0.69639    0.72521    0.81658    0.29924    0.7689     0.74836
 0.72437    0.58114    0.43873    0.60954    0.09131    0.81325
 0.79081    0.07612    0.54909    0.60268    0.07566    0.83947
 0.75905    0.6951     0.57379    0.73793    0.66015    0.60164
 0.69805    0.6739     0.27688    0.40132    0.33475    0.34201
 0.51529    0.36878    0.38847    0.09806    0.56874    0.
 0.35874    0.41435    0.36291    0.04776    0.48246    0.72926
 0.22562    0.70806    0.23402    0.76649    0.61712    0.40064
 0.16683    0.20583    0.31051    0.33861    0.4354     0.43372
 0.29707    0.61114    0.38215    0.46721    0.06699    0.1501
 0.24009    0.15185    0.27125    0.30335    0.42864    0.72193
 0.22396    0.28443   ]
Summary statistics for 'Health (Life Expectancy)':
count    157.000000
mean       1.668659
std        2.712884
min        0.000000
25%        0.514660
50%        0.723940
75%        0.908370
max        9.556200
Name: Health (Life Expectancy), dtype: float64

In [89]:
df.head()

,Country,Region,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,health_zscore,outlier,outlier_iqr
94,Switzerland,Western Europe,1,7.587,13.9651,13.4951,9.414300,6.6557,4.1978,2.9678,25.1738,2.855132,False,True
28,Iceland,Western Europe,2,7.561,13.0232,14.0223,9.478400,6.2877,1.4145,4.3630,27.0201,2.878760,False,True
51,Denmark,Western Europe,3,7.527,13.2548,13.6058,8.746400,6.4938,4.8357,3.4139,24.9204,2.608936,False,True
19,Norway,Western Europe,4,7.522,14.5900,13.3095,1.640732,6.6973,3.6503,3.4699,24.6531,-0.010294,False,True
153,Finland,Western Europe,5,7.406,12.9025,13.1826,8.891100,6.4169,4.1372,2.3351,26.1955,2.662274,False,True